</div class = "image-foot-link" id="rails-img">


 <%= link_to image_tag("rails.png", alt: "Rails logo"),
             'http://rubyonrails.org/'%>
</div>

<footer class="footer">
  <small>
    Made by <a href="http://github.com/nejcik" target="_blank"> nejt </a> based on
    The <a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/" target="_blank">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>

      <li><a href="http://news.railstutorial.org/"target="_blank">News</a></li>
    </ul>
  </nav>

</footer>
